.App {
  text-align: center;
}

 .App-logo {
  height: 3vmin;
  pointer-events: none;
}


.App-header{
  display: flex;
  justify-content: space-evenly;
}

.App-link {
  color: #61dafb;
}


.table{
  /* height: 8vmin; */
    
    max-width: 90%;

    align-content: space-around;
    
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}
.table-hover{
  cursor: pointer;
}
.colWidth{
  width:9%;
}

.textJustify{
  text-align: justify;
}
.tHeadBcg{
  background-color: whitesmoke; 
}

